@font-face {
    font-family: 'fa-viber';
    src: url('../../fonts/fa-viber/fa-viber.eot?-3dwksg');
    src: url('../../fonts/fa-viber/fa-viber.eot?#iefix-3dwksg') format('embedded-opentype'),
    url('../../fonts/fa-viber/fa-viber.ttf?-3dwksg') format('truetype'),
    url('../../fonts/fa-viber/fa-viber.woff?-3dwksg') format('woff'),
    url('../../fonts/fa-viber/fa-viber.svg?-3dwksg#fa-viber') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa-viber {
    margin-top: 5px;

    &:before {
        font-family: 'fa-viber';
        content: "\e666";
    }
}
