.table.__with-edit-delete {
    th:nth-last-child(1),
    th:nth-last-child(2),
    td:nth-last-child(1),
    td:nth-last-child(2) {
        width: 50px;
        text-align: center;

        a {
            height: 29px;
        }
    }
}

.table {
    td {
        //vertical-align: middle;
    }

    .is-id {
        width: 54px;
    }

    .is-image {
        width: 54px;
    }

    .is-status {
        width: 100px;
        text-align: center;
    }
    .is-url {
        width: 100px;
        text-align: center;
    }
    .is-created_at {
        width: 150px;
        text-align: center;
    }
    .is-phone {
        width: 100px;
        text-align: center;
    }

    .is-show {
        width: 94px;
        text-align: center;
    }

    .is-active {
        width: 82px;
        text-align: center;
    }

    .btn-sm {
        &.is-icon {
            padding-left: 10px;
            padding-right: 10px;
        }

        i {
            padding-bottom: 2px;
            padding-top: 3px;
        }
    }

    .is-categories {
        width: 120px;
        text-align: center;
    }

    .is-periods {
        width: 140px;
        text-align: center;
    }

    .is-active_date {
        width: 140px;
        text-align: center;
    }

    .is-active_date {
        width: 140px;
        text-align: center;
    }

    th.is-active_date {
        line-height: 17px;
        padding: 5px;
    }

    .is-active_end_date {
        width: 140px;
        text-align: center;
    }

    th.is-active_end_date {
        line-height: 17px;
        padding: 5px;
    }

    .text-opacity {
        opacity: .5;
    }
    .is-view {
        width: 50px;
        text-align: center;
    }
    .is-timeline {
        width: 50px;
        text-align: center;
    }
    .is-location {
        width: 50px;
        text-align: center;
    }
    .is-comments {
        width: 50px;
        text-align: center;
    }
    .is-release_at {
        width: 50px;
        text-align: center;
        .switch {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    .is-private_show {
        width: 92px;
        text-align: center;
    }
    .is-entertainments {
        min-width: 50px;
        text-align: center;
    }
    img.bordered-success {
        border: 2px solid $brand-success;
    }
    .is-state {
        width: 90px;
        text-align: center;
    }
    .is-user_actions {
        width: 50px;
        text-align: center;
    }
    .is-organization {
        text-align: center;
        width: 61px;
    }
    .is-direction {
        text-align: center;
        width: 61px;
    }
    &.__table-is-tour {
        .is-start_at, .is-finish_at {
            width: 91px;
            text-align: center;
        }
        .is-vk {
            text-align: center;
            width: 61px;
        }
        .is-tags {
            text-align: center;
            width: 55px;
        }
    }
    &.__table-is-organization {
        .is-tours {
            width: 91px;
            text-align: center;
        }
    }
    &.__table-is-direction {
        .is-tours {
            width: 91px;
            text-align: center;
        }
    }
    &.__table-is-article {
        .is-organization {
            text-align: center;
            width: 61px;
        }
    }
    &.__table-is-attraction {
        .is-articles {
            text-align: center;
            width: 61px;
        }
    }
}

.avatar-combine {
    display: block;
    position: relative;
    height: 36px;
    width: 61px;
    .avatar {
        position: absolute;
        top: 0;
        left: 0;
        &:nth-child(1) {
            left: 0;
            z-index: 14;
        }
        &:nth-child(2) {
            left: 10px;
            z-index: 13;
        }
        &:nth-child(3) {
            left: 20px;
            z-index: 12;
        }
        &:nth-child(4) {
            left: 30px;
            z-index: 11;
        }
        &:nth-child(5) {
            left: 40px;
            z-index: 10;
        }
        &:nth-child(6) {
            left: 50px;
            z-index: 10;
        }
        &:hover {
            z-index: 100;
        }
    }
}
.text-black {
    color: #2a2c36 !important;
}

.form-control-focus {
    border: 1px solid transparent;
    background: transparent;
    margin-left: -0.5rem;
}

.nav.justify-content-end {
    .nav-link:not(.active) {
        color: #55595c;
    }
}

.bootstrap-select {
    width: 100%;
}

.btn-multiselect {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:focus {
        outline: none !important;
    }
}

.bootstrap-select.btn-group .dropdown-menu li {

}

.bootstrap-select.btn-group .dropdown-menu li a {
    color: #55595c;
    padding: 5px;
    width: 100%;
    display: block;
}

.filter-option {
    color: #55595c;
}

.bootstrap-select.btn-group .dropdown-menu li.selected {
    font-weight: bold;
}

.table thead th {
    border-bottom: none;
}

.table .text-opacity {
    opacity: .5;
}

.table th, .table td {
    vertical-align: middle;
}

.table-borderless {
    th,
    td,
    thead th,
    tbody + tbody {
        border: 0;
    }
}
