
.---cmf-tour-card {
    $font-family-sans-serif: "GT Eesti Pro Display", 'Segoe UI', sans-serif;

    $card-radius: 0;
    $card-shadow: 0 0 40px -25px rgba(0, 0, 0, 0.5);
    $card-shadow-light: 0 0 27px -17px rgba(0, 0, 0, 0.5);
    $card-shadow-hover: 0 0 80px -25px rgba(0, 0, 0, 0.5);

    $font-weight-regular: normal !default;


    $brand-black: #333;
    $brand-danger: #fb5f4f;
    $brand-primary: #41b882;

    $box-shadow: 0 .5rem 1rem rgba(#000, .15) !default;

    font-family: $font-family-sans-serif;

    //@import './../../../../../public/frontend/src/scss/bootstrap';
    //@import './../../../../../public/frontend/src/scss/fontface';
    @import './../../../../../public/frontend/src/scss/project/card/tour';

    font-weight: 400;

    .text-grey {
        color: #6c757d !important;
    }
    .tooltip-text {
        cursor: pointer;
        color: #41b882;
        text-decoration: underline;
    }
    .btn-light-dark {
        color: #333;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.76563rem;
        line-height: 1.5;
        border-radius: 0;
    }
    .btn-light {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }
    h5, .h5 {
        font-size: 1.09375rem;
    }
    .text-muted {
        color: #6c757d !important;
    }
    .badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .badge {
        font-size: 12px;
        display: inline-block;
        color: #555;
        padding: 5px 10px;
        border-radius: 0;
        border: 1px solid rgba(0, 0, 0, 0.05);
        margin-right: 5px;
        font-weight: bold;
    }

    .flickity-page-dots {
        position: absolute;
        width: 100%;
        bottom: -25px;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        line-height: 1;
        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 8px;
            background: #333;
            border-radius: 50%;
            opacity: 0.25;
            cursor: pointer;
        }
        .dot.is-selected {
            opacity: 1;
        }
    }
}
